body {
    font-family: Arial, sans-serif ;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

#confirmation {
    visibility: hidden;
}

.error {
    color: red;
}