.modale {
    border: solid 1px black;
    box-shadow: 0 0 10px #000;
    background-color: white;
    border-radius: 20px;
    transition: 300ms;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 500px;
    padding: 20px;
    /* overflow-y: scroll; */
}

.hidden {
    visibility: hidden;
    transition: 300ms;
}

.closeBtn {
    background-image: url('../../assets/close.png');
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}